<h1>Área do Administrador</h1>

<a href="/pendentes">Empresas Pendentes</a><br>
<a href="/aprovadas">Empresas Aprovadas</a><br>
<a href="/cadastroempresa">Cadastrar Empresa</a><br>
<a href="/">Voltar</a>
