<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cadastro Concluido</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <div class="modal-sucesso">
        <h2>Cadastro Concluído</h2>
        <p>Aguarde a confirmação, obrigado!</p>
        <a href="/" class="voltar-modal">Voltar ao início</a>
</body>
</html>