<h1>Empresas Parceiras IFPE</h1>

<a href="/area-admin">Área do Administrador</a>
<a href="/cadastroempresa">Cadastrar Empresa</a>

<hr>

{{#each empresas}}

<div>
    <h3>{{nome}}</h3>
    <p>{{email}}</p>
    <p>{{telefone}}</p>
    <p>Status: {{status_empresa}}</p>
</div>

<hr>

{{/each}}
