<h1>Empresas Parceiras IFPE</h1>

<a href="/cadastroempresa">Cadastrar Empresa</a><br><br>
<a href="/empresas">Ver Empresas</a><br><br>
<a href="/aprovadas">Empresas Aprovadas</a><br><br>
<a href="/pendentes">Empresas Pendentes</a>
