<h1>Empresas Parceiras IFPE</h1>

<a href="/area-admin">Área do Administrador</a>
<a href="/cadastroempresa">Cadastrar Empresa</a>

<hr>

<main class="empresas">
        {{#each empresas}}
            <article class="empresa-card">
                <h2>{{nome}}</h2>
                <p><strong>CNPJ:</strong> {{cnpj}}</p>
    <p>{{telefone}}</p>
    <p>Status: {{status_empresa}}</p>
</article>
            <hr>
        {{/each}}
    </main>

</body>
</html>
