<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style.css">
<title>Área Administrativa</title>
</head>
<body>

<div class="login-box">

    <h1>Área Administrativa</h1>

    <form action="/area-admin">

        <label>Usuário</label>
        <input type="text">

        <label>Senha</label>
        <input type="password">

        <button type="submit">Entrar</button>

    </form>

    <a href="/cadastroempresa">
        Solicitar Cadastro de Empresa
    </a>

</div>

</body>
</html>