<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Administrador</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="form-container">

    <a href="/usuarios" class="voltar">
        ← Voltar
    </a>

    <div class="form-box">

        <h2>Novo Administrador</h2>

        <p>
            Preencha os dados do novo administrador do sistema.
        </p>

    </div>

    <div class="form-box">

        <form action="/usuarios" method="POST">

            <label>Nome</label>

            <input
                type="text"
                name="nome"
                required
            >

            <label>Email</label>

            <input
                type="email"
                name="email"
                required
            >

            <label>Senha</label>

            <input
                type="password"
                name="senha"
                required
            >

            <label>Tipo</label>

            <input
                type="text"
                name="tipo"
                required
            >

            <div class="botoes-form">

                <a href="/usuarios" class="btn-cancelar">
                    Cancelar
                </a>

                <button
                    type="submit"
                    class="btn-salvar">
                    Cadastrar
                </button>

            </div>

        </form>

    </div>

</div>

</body>
</html>